main{
  position: absolute;
  top: 13%;
  left:50%;
  width:45%;
  height: 70%;
  background-color: whitesmoke;
}

.cart-header{
  width: 100%;
  margin-top: 0.5rem;
  text-decoration: underline;
  text-align: center;
}

table{
  width:80%;
  height:auto;
  border: 1px solid grey;
}
