.container {
  width:80%;
 display:block;
 margin: 0 auto;
 height: 34rem;
}

.header{
  text-decoration: underline;
  font-weight: bolder;
}
.main-header{
  width: 100%;
  height:auto;
  color: blue;
  font-size: larger;
  margin-bottom: 2px;
}
